<p id="notice"><%= notice %></p>

<p  style="margin-top: 6rem">
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @store.price %>
</p>

<p>
  <strong>Size:</strong>
  <%= @store.size %>
</p>
<p>
  <% if @store.product_image.attached? %>
    <%= image_tag(@store.product_image, style: 'height:50%; width:50%;')  %>
    <% end %>
</p>
<% if current_user.admin?%>
  <%= link_to 'Edit', edit_store_path(@store) %> |
  <%= link_to 'Back', stores_path %>
<% end %>