<div class="ui inverted  large menu">
    <div class='ui container'>
        
        <%= link_to 'iArtGallery', root_path, class:'item'%>
        <div class="right menu">
            
            <% if current_user && current_user.admin?%>
                <div class="item">
                    <%= link_to "Store", '/stores', class:"ui orange button"%>
                </div>
            <% end %>
            <div class="ui dropdown item">
                Account <i class="dropdown icon"></i>
                <div class="menu">
                    <% if current_user %>
                        <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class:'item' %>
                    <% else %>
                        <%= link_to 'Sign in', new_user_session_path, class:'item'%>
                        <%= link_to 'Sign up', new_user_registration_path, class:'item' %>
                    <% end %>
                </div>
            </div>
            <div class='item'>
            <a id="toggle" class='item'>
                <i class='sidebar icon'></i>
                Menu
            </a>                     
        </div>
        </div>
    </div>
</div>